body {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  width: 400px;
  height: 600px;
  touch-action: none;
}

.base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  user-select: none;
  pointer-events: none;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: grab;
  z-index: 1;
  touch-action: none;
  user-select: none;
}
