body {
  margin: 0;
  background: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: row; /* Важно: чтобы панель была сбоку */
  gap: 20px;
  max-width: 100vw;
  max-height: 100vh;
  align-items: center;
}

.items-panel {
  display: flex;
  flex-direction: column; /* вертикально */
  gap: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.items-panel .item {
  width: 80px;
  cursor: grab;
}

.zoom-wrapper {
  overflow: hidden;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 100vh;
}

.container {
  width: 400px;
  height: 600px;
  position: relative;
  transform-origin: center center;
  touch-action: none;
}

.base {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  touch-action: none;
}
