body {
  margin: 0;
  background: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100vw;
  max-height: 100vh;
  align-items: center;
  touch-action: none; /* добавили для pinch-to-zoom всего экрана */
  transform-origin: center center; /* чтобы зум был относительно центра */
}

.items-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 5px;
}

.item-preview {
  width: 80px;
  height: auto;
  cursor: grab;
}

.zoom-wrapper {
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 100vh;
}

.container {
  width: 400px;
  height: 600px;
  position: relative;
  transform-origin: center center;
 }

.base {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  touch-action: none;
}

.clear-zone {
  position: absolute;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: 20;
  cursor: pointer;
}

.head-zone {
  top: 0;
}

.torso-zone {
  top: 25%;
}

.legs-zone {
  top: 50%;
}

.feet-zone {
  top: 75%;
}

